# Secrets
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

db.ipynb

.venv/

.ruff_cache

data/

.vscode

.streamlit

# dependencies
/node_modules
node_modules/
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
.next/
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
recommender-system/popular_movies_lambda/popular_movies_poster.json
recommender-system/popular_movies_lambda/popular_movies_tmdb_data.csv
